    body,
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .scroll-y {
        overflow-y: scroll;
    }
    .scroll-x {
        overflow-x: scroll;
    }
    .scroll {
        overflow: scroll;
    }

    .o-hidden {
        overflow: hidden;
    }

    .o-hidden-x {
        overflow-x: hidden;
    }

    .b-under {
        border-bottom: 1px solid black;
    }

    .border {

        border: 1px solid black;
    }

    

    .h-200 {
        height: 200% !important;
    }

     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }


    .flex-1 {
        flex: 1;
    }