.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.example-appear {
	position: relative;
  top: 100%;
}

.example-appear.example-appear-active {
	position: relative;
  top:0;
  transition: top .5s ease-in;
}




.wait-1 {

  -webkit-animation-delay: .2s;
  
}
.wait-2 {

  -webkit-animation-delay: .4s;
  
}
.wait-3 {

  -webkit-animation-delay: .6s;
  
}
.wait-4 {

  -webkit-animation-delay: .8s;
  
}
