
.messaging-input {
    background-color: black;
    color: #fff;
    font-size: 10vh;
    border: 0;
    outline: none;
}


.bg-me span {

    background-color: blue;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: white;
}


.bg-you span {

    background-color: green;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: white;
}